
/*Image de fond*/
body{
	background-image: url("FondRayure.jpg");
}


/*Photo de Marie*/
img{
	margin: 100px 100px;
	border: 10px solid white;

	box-shadow: -5px 5px 10px 0px rgba(50,50,50,0.5);
	position: absolute;
	top: -40px;
	left: -20px;
	border-radius: 50px;
}


/*Texte liste de course*/
h2{
	margin: 100px 200px 60px;
	padding: 50px;
	border: 50%;
	background-color: white;


	text-align: center;
	text-align: center;
	font-weight: lighter;
	font-size: 400%;
/*	font-size: 56px;*/
}



.titre{
	text-align: center;
	margin: 100px 200px 60px;
	background-color: white;


}

/*p{
	font-size: 56px;
	font-family: Arial;
	font-weight: 100;
}*/





